.table-main{
    width: 100%;
}

.table-head tr > th {
    padding: 10px;
    background-color: rgb(173,172,181);
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
}

.company-name-header{
    width: 50%;
}
.status-header{
    width: 25%
}
.date-header{
    width: 25%;
}


.table-body tr > td{
    padding: 5px;
    background-color: rgb(221, 218, 218);
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
}

.status-select-dropdown {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(221, 218, 218);
    font-size: 1.2rem;
    font-weight: bold;

}